* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    background-color: rgb(195, 195, 195);
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
}

li {
    margin: 5rem;
}

a {
    font-size: 50px;
    color: black;
}

.active {
    border-bottom: solid red 3px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    margin-bottom: 1rem;
}

input {
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1rem;
    font-size: 30px;
}

p {
    font-size: 20px;
}

.modifier {
    font-size: 30px;
    margin-top: 2rem;
}

#delete {
    font-size: 30px;
    background-color: rgb(195, 195, 195);
    border: none;
    cursor: pointer;
    border-bottom: solid 1px black;
    padding-bottom: 2rem;
}

#delete:hover {
    color: red;
}

.modifier:hover {
    color: red;
}

button {
    font-size: 25px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    color: red;
}

#pizza_pates {
    margin-bottom: 1rem;
}
