<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href={{asset('style.css')}}>
    </head>
    <body>
        {% block header %}
            <header>
                <nav>
                    <ul>
                        <li><a class="{% if app.request.attributes.get('_route') == 'app_home' %} active {% endif %}" href={{ path('app_home')}}>Accueil</a></li>
                    </ul>
                </nav>
            </header>
        {% endblock %}
        {% block main %}

        {% endblock %}
    </body>
</html>
