{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block main %}
    <section>
        <h1>Formulaire d'ajout de pizza :</h1>
        {{form_start(pizzaform)}}
            {{form_widget(pizzaform)}}
            <button>Envoyer</button>
        {{form_end(pizzaform)}}
    </section>
{% endblock %}
